/* Old Format*/
.mainone {
  background-image: url('../images/mainpage.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 100% 100%;
  height:85vh;
  position:relative;
  width:100vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*https://www.w3schools.com/html/html_images_background.asp*/

.mainone p{
  text-align: center;
  font-family: Arial;
  font-size: 24px;
  color: #FFFFFF;
  position:absolute;
  bottom: 0;
  padding: 10px;

}

.maintwo{
  background-image: url('../images/mainone.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height:400px;
  position:relative;
  width:100vw;
}

.maintwo h1{
  text-align: center;
  font-family: Arial;
  font-size: 48px;
  color: #FFFFFF;
  position:relative;
  top: 50px;
}

.maintwo p{
  text-align: center;
  font-family: Arial;
  font-size: 24px;
  color: #FFFFFF;
  position:relative;
  margin-left: 100px;
  margin-right:100px;
  top: 100px;
}
/* https://www.w3schools.com/css/css_font.asp FONT TYPES*/