{% extends "base.html" %}
{% block content %}
	<h1>A TABLE OF TRANSFORMATION</h1>
	<p>Common Table was created from two churches in Richmond, Virginia, uniting as one in worship and service. In the
		weekly celebration of the Eucharist (Holy Communion or Lord’s Supper), we witness different people, traditions,
		and histories joining together to bear a vibrant, diverse, and beautiful image of God. We are renamed and
		reshaped by the table manners of Jesus Christ who invites, welcomes, nourishes, and sends us to love our
		neighbors for the sake of mercy and equity – in RVA as it is in heaven.</p>

	<h1>A COMMUNITY OF BELONGING</h1>
	<p>At Common Table, belief is not a prerequisite for belonging. Rather, the grace of baptism reveals that we belong
		not because of what we do but because of what God does through the power of the Holy Spirit. Our community was
		born of openness to difference, so we celebrate diversity as we seek wholeness for all God’s people. We are a
		reconciling community in the Reconciling Ministries Network, fully affirming our LGBTQIA+ siblings for their
		beauty in the image of God. We celebrate people of all genders in leadership as clergy and laity in Christ’s
		church. In Richmond, Virginia, we witness the living history of racism, and we commit ourselves to the work of
		antiracism both personally and socially in the pursuit of heaven on earth. To echo the words of our baptismal
		liturgy, “We accept the freedom and power God gives us to resist evil, injustice, and oppression in whatever
		forms they present themselves, serving God in union with the church which Christ has opened to all people.”</p>

	<h1>RECONCILING STATEMENT</h1>
	<p>Churches in particular and the Church as an institution have set a precedent of injustice through their action
		or inaction, including injustice against the LGBTQIA+ community. At Common Table, we desire to be a church that
		chooses the work of justice within and beyond our congregation, work we understand to <b>require sacrifice by
		those who hold privilege</b> as well as <b>work that is life-giving</b>. We believe all are created in God’s
		image, so we strive to create a welcoming and safe space where faith is not a condition of belonging and all
		are valued and loved. We also recognize that our work will always remain unfinished and ongoing. We commit to
		building a community that embodies welcome and affirmation in practical ways, being active leaders in
		celebration, solidarity, and advocacy with the marginalized, in RVA as it is in heaven.  <b>Also, as a
		Reconciling congregation, we affirm the following statement from Reconciling Ministries Network:</b> We
		celebrate God’s gift of diversity and value the wholeness made possible in community equally shared and
		shepherded by all. We welcome and affirm people of every gender identity, gender expression, and sexual
		orientation, who are also of every age, race, ethnicity, physical and mental ability, level of education, and
		family structure, and of every economic, immigration, marital, and social status, and so much more. We
		acknowledge that we live in a world of profound social, economic, and political inequities. As followers of
		Jesus, we commit ourselves to the pursuit of justice and pledge to stand in solidarity with all who are
		marginalized and oppressed.</p>
{% endblock %}