{% extends "base.html" %}
{% block content %}
	<div class=mainone>
		<p> Sunday // 9am & 11am // 910 South Harrison</p>
			<!--<h1> Common Table </h1
		<p> Misc Things: meeting time, abbreviated mission statement/vision, first steps page, footer with socials</p>-->
	</div>

	<div class=maintwo>
		<h1>In <i>RVA</i> as it is in <i>heaven.</i></h1>
		<p>Common Table was created from two churches in Richmond, Virginia, uniting as one in worship and service. In
			the weekly celebration of the Eucharist (Holy Communion or Lord’s Supper), we witness different people,
			traditions, and histories joining together to bear a vibrant, diverse, and beautiful image of God. We are
			renamed and reshaped by the table manners of Jesus Christ who invites, welcomes, nourishes, and sends us to
			love our neighbors for the sake of mercy and equity – in RVA as it is in heaven.</p>
	</div>

	<div class=mainthree>
		<p>First Steps</p>
	</div>
{% endblock %}

<!-- 
Common Table Main Page
-About Us
-What to Expect
-Give
-
-Home
--New Here
--Take next steps
--Prayer Requests
-Groups
-Sign up
-Give
-Calendar
-Log in


**Things to work on:
==URL exception handling
==Formatting landing pages for base pages
==Drop boxes for nav bar
==Calendar
==Embed map?
-->