{% extends "base.html" %}
{% block content %}
	<h1>Mission, Vission, and Values</h1>

	<h2>Mission</h2>
	<p>Cultivating ministers of reconciliation around the table of Jesus Christ.</p>

	<h2>Vision</h2>
	<p>Through the ministry of reconciliation, local residents become loving neighbors who work together across their
		differences for the sake of an equitable Richmond.</p>

	<h2>Values</h2>
	<h3>Reconciling</h3>
	<p>We acknowledge and celebrate the differences among people in our faith community. We delight in being,
		worshiping, and serving together to bring reconciliation in our world. </p>
	<h3>Sacramental</h3>
	<p>We celebrate the sacredness everywhere in God’s world, including elements like water, wine, and bread. In
		baptism, we are claimed and loved by God without condition; around Christ’s table, we are nourished,
		transformed, and sent into the world.</p>
	<h3>Safe</h3>
	<p>We work to create spaces that are physically, emotionally, theologically, and spiritually safe. We extend
		thoughtful hospitality to those who have experienced exclusion or hurt in other faith communities.</p>
	<h3>Accessible</h3>
	<p>We encourage and facilitate the participation of everyone in our community. Our leadership is relational,
		focused on responsibility and service rather than power.</p>
	<h3>Responsive</h3>
	<p>We rejoice in beauty and justice, and we address pain and injustice in our faith community, our neighborhood,
		our city, our country, and our world.</p>
{% endblock %}