{% extends "base.html" %}
{% block content %}
	<h1>What to Expect</h1>

	<h2>Values</h2>
	<p>Our Common Table community strives to be reconciling, sacramental, safe, accessible, and responsive. You can
		show up just the way you are: casual, authentic, and beloved. Wherever you are in relationship to God – on the
		mountaintops of faith or in the valleys of doubt – you are welcome. Belief is not a requirement for belonging
		at Common Table.</p>

	<h2>Diversity</h2>
	<p>Our community believes God’s image is manifest in the diversity of human community. We celebrate diversities of
		race, gender, sexual orientation, ability, theological background, and more. LGBTQ+ persons and families are
		welcomed and affirmed at Common Table.</p>

	<h2>Worship</h2>
	<p>Expect songs, responsive readings, prayers, scripture, a message, and the celebration of the Eucharist (also
		known as communion, holy communion, or the Lord’s Supper). In order to better reflect the diversity of the God
		we worship, we strive for a diversity of worship resources from around the world. Each service also includes a
		time of offering, where we have an opportunity to respond to God’s grace. This can include financial giving,
		lighting prayer candles, visiting the baptismal font for a remembrance of baptism, signing up for service
		opportunities, and simply reflecting. Periodically, our services also include the celebration of baptism.</p>

	<h2>Table</h2>
	<p>Expect a weekly celebration of the Eucharist. We believe that, together at the table, we are met by the risen
		Christ, connected to the Body of Christ around the globe, reconciled to the triune God and to each other, and
		nourished for our lives in the world God loves. From the table, we are sent to serve.</p>

	<h2>Music</h2>
	<p>Expect our music to be a faithful fusion of modern song styles and traditional hymnody, all with our local
		approach. We believe that we sing shapes who we are, so we are attentive to congregational melodic
		accessibility, theological integrity, and inclusive language.</p>

	<h2>Scripture</h2>
	<p>Expect our worship experience to be built around engagement with our scripture story. The songs, message, and
		other readings are selected to complement and amplify the scripture’s connection to our community and the
		context of our neighborhood, city, nation, and world.</p>

{% endblock %}